<div class="categories-with-image section">
  <div class="category-container">
    {% for block in section.blocks %}
      <a class="category-link" href="{{ block.settings.collection.url | img_url }}"></a>
        <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.title }}">
        <span>{% if block.settings.title %} 
              {{ block.settings.title }}
            {% else %}
              {{ block.settings.collection.title }}
            {% endif %}
        </span>
      </a>
    {% endfor %}
  </div>  
</div>

{% schema %}
{
  "name": "Categories with Image",
  "max_blocks": 4,
  "blocks": [
    {
      "name": "Categories",
      "type": "category",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Category"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Category Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "info": "Optional"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Categories with Image",
      "category": "Image",
      "blocks": [
        {
          "type": "category"
        },
        {
          "type": "category"
        },
        {
          "type": "category"
        },
        {
          "type": "category"
        }
      ]
    }
  ]
}
{% endschema %}